:host {
  width: max-content;
  max-width: 85%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;

  background: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);

  line-height: 1.5;
}
